{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div style="text-decoration: underline; font-size: 36px;">
<h2>Welcome to Cstimer Extra Tools</h2>
<p>Any data a cuber may want, a cuber can have here</p>
<br>
<p>Cstimer Extra Tools(CsET) is what it says it is, a way to gather extra data on your Cstimer sessions</p>
<br>
<p>Use CsET to gather the types of solves you have(examples: sub-10, sub-12s, +2s, dnfs)</p>
<p>Search through all of your sessions</p>
<p>Find out how close your times are together with a visible scatter-plot (with easy terms) </p>
</div>
{% endblock %}