{% extends 'base.html' %}

{% block title %} 
How Page
{% endblock %}

{% block content %}
<div style="font-size: 24px; line-height: 48px; text-decoration: underline;">
<ol>
    <li>Go to your Cstimer will all of your solves.</li>
    <li>Click on the export button in the top-left (looks like a little slab or table, with an arrow going out the top).</li>
    <li>In that menu click on export to file and open the file.</li>
    <li>WITHOUT MODIFING ANYTHING, copy everything by pressing control or command+a, then control or command+c</li>
    <li>Then go to this website and click on the Cstimer Extra Data tab, or tools.kiascottage.com/cstimerextras/extradata</li>
    <li>Click into the text box and paste (control or command+v) the data in. ONLY THE DATA.</li>
    <li>Finnaly your data will be shown.</li>
    <li>If you want to see the code behind this go to <a href="https://github.com/pkncoder/CstimerExtraData/" style="text-decoration: underline; color: rgb(160, 255, 113);">github.com/pkncoder/CstimerExtraData</a></li>
</ol>
</div>
{% endblock %}